@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h3>Shopping</h3>
    <img src="https://yt3.ggpht.com/yti/AJo0G0kVfhsFbE7SX4RrRArBXmls8y49rHkoekHciPycfdo=s88-c-k-c0x00ffffff-no-rj-mo" class="img-fluid" asp-append-version="true" />
</div>
